* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Ubuntu';
    background: #f4f4f4;
}
  
img {
    float: right;
    width: 55%;
}
  
.clr {
    clear: both;
}
  
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background: #4c6ca0;
    border-radius: 5px;
    overflow: auto;
}
  
.nav-bar li {
    display: inline; 
    float: left;  
}
 

.nav-bar a{
    display: block; 
    padding: 8px;  
}


.nav-bar li a:hover {
    background-color: #446190;
    color: #f4f4f4;
}
  
.details-form {
    max-width: 600px;
    margin: 30px auto;
    background: #1D306D ;
    padding: 30px;
    border: 2px solid #813772;
    border-radius: 10px;
    color: #f4f4f4 ;
    text-align: center;
}


.details-form input{
    width: 175px;
    height: 20px;
}


.details-form #Register {
    background: rgba(16, 196, 10, 0.8);
    border: none;
    color: #f4f4f4 ;
    cursor: pointer;
    text-align: center;
}
  
.details-form  #Register:hover {
    background: rgba(16, 196, 1);
}

.details-form #login {
    background: rgba(16, 196, 10, 0.8);
    border: none;
    color: #f4f4f4 ;
    cursor: pointer;
    text-align: center;
}
  
.details-form  #login:hover {
    background: rgba(16, 196, 1);
}

.details-form a {
    color: #E1D9D1;
    font-size: 10px;
  
}

.details-form .register{
    font-size: 14px;
}


.details-form #sex {
    width: 145px;
    height: 20px;
  
}

  
a:hover {
    color: rgba(16, 196, 0.8);
}