
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
  
body {
    background: #4abdac;
}

#error{
    text-align: center;
    color: black;
}

/* Log in page */

.pos {
    display: grid;
    justify-content: center;
}

.pos .log-in-form {
    height: 16rem;
    width: 27rem;
    border-radius: 1rem;
    background-color: #29685f;
    display: grid;
    justify-content: center;
    margin-top: 1rem;
}

.pos .log-in-form img{
    height: 8rem;
    width: 8rem;
    padding: 0.5rem;
    
}

.pos .log-in-form form{
    text-align: center;

}

.pos .log-in-form form input{
    text-align: center;
    position: relative;
    padding-top: 0.5;
    width: 10rem;
    background-color: #dfdce3;

}

.pos .log-in-form form #login:hover{
    opacity: 50%;
}

@media screen and (max-width:27.313rem){
    .pos .log-in-form {
        width: 18rem;
    }
    
}

/* Navigation Bar */

.topnav {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    background-color: #29685f;
    overflow: hidden;
    border-radius: 1rem;
}
  
.topnav a {
    float: left;
    display: block;
    color: #dfdce3;
    text-align: center;
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    font-size: 0.85rem;
}
  
.topnav a:hover,
.topnav a.active {
    color: black;
}
  
.topnav .icon {
    display: none;
}

@media screen and (max-width:57.5rem) {
    /* Navigation Bar */

    .topnav a:not(:first-child){
        display: none;
    }
    
    .topnav a.icon {
        float: right;
        display: block;
      }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}


.HomeContents h1{
    color: #dfdce3;
    text-align: center;
    font-size: 4rem;
}

.HomeContents .container{
    display: flex;
}

.HomeContents .container .column{
    flex: 33.33%;
	height: 24rem;
    font-size: 1.5rem;
	padding: 0.3125rem;
	margin: 0.3125rem;
	background-color: #29685f;
    color: #dfdce3;
	text-align: center;
    transition: transform 0.5s ease;
    border-radius: 1rem;
}

.HomeContents .container .column:hover{
    transform: scale(1.35);
    color: black;
}

.HomeContents #myButton{
    border-radius: 1rem;
    background-color: #29685f;
    color: #dfdce3;
    text-align: center;
    position: absolute;
    margin-top: 4.2rem;
    left:33.33%;
    width:33.33%;
    height:3.5rem;
    font-size: 2rem;
    transition: transform 0.5s ease;
}

.HomeContents #myButton:hover{
    color: black;
    transform: scale(1.35);
}


@media screen and (max-width:75.5rem) {
    .HomeContents #myButton{
        border-radius: 1rem;
        background-color: #29685f;
        color: #dfdce3;
        text-align: center;
        position: absolute;
        margin-top: 4.2rem;
        left:33.33%;
        width:33.33%;
        height:3.5rem;
        font-size: 1.5rem;
        transition: transform 0.5s ease;
    }
}

@media screen and (max-width:57.5rem) {
    .HomeContents .container{
        flex-wrap: wrap;
    }
    

    .HomeContents .container .column{
        height: 15rem;
        font-size: 1.5rem;
        padding: 0.1rem;
        margin: 0.1rem;
        flex: 100%;
        transition: none; 
        padding-bottom: 1rem;     
    }

    .HomeContents .container .column img{
        height: 10rem;
        width: 17rem;   
    }

    .HomeContents .container .column:hover{
        transform: none;
        color: #dfdce3;
    }


    .HomeContents #myButton{
        margin-top: 0.5rem;
        width: 100%;
        position: absolute;
        left: 0%;
        font-size: 1.5rem;
    }

    .HomeContents #myButton:hover{
        transform: none;
    }
    
}

@media screen and (max-width:20rem) {

    .HomeContents .container .column{
        height: 13rem;
        font-size: 1.15rem;
        padding: 0.1rem;
        margin: 0.1rem;
        flex: 100%;
        transition: none; 
        padding-bottom: 1rem;     
    }

    .HomeContents .container .column img{
        height: 10rem;
        width: 17rem;   
    }


}

/* Profile page */

.profilecontainer{
    display: grid;
    justify-content: center;
    margin-top: 1rem;
}

.profilecontainer #update-form{
    text-align: center;
    border-radius: 1rem;
    background-color: #29685f;
    width: 40rem;
    height: 18rem;
    color: #dfdce3;
}

.profilecontainer #update-form #Dis input:hover,
.profilecontainer #update-form #Dis select:hover{
    cursor: not-allowed;

}

.profilecontainer #update-form h1{
    padding-top: 0.5 rem;
}

.profilecontainer #update-form #EditBut{
    position: relative;
    right: 17rem;
    margin-top: 0.333rem;
    background-color: black;
    color: #dfdce3;
    width: 5rem;
    border-radius: 0.4rem;
}


.profilecontainer #update-form #EditBut:hover{
    background-color: rgba(0, 0, 0, 0.544);
}


.profilecontainer #update-form #CancelBut{
    position: relative;
    border-radius: 0.4rem;
    right: 17rem;
    margin-top: 0.333rem;
    background-color: #C41E3A;
    color: #dfdce3;
    width: 5rem;
}

.profilecontainer #update-form #CancelBut:hover{
    color: #000;
}

.profilecontainer #update-form input,
.profilecontainer #update-form select{
    text-align: center;
    margin-top: 0.02rem;
    background-color: #dfdce3;
    border-radius: 0.4rem;
}

.profilecontainer #update-form #UpdateDis{
    margin-top: 1rem;
    width: 14rem;
    background-color: #dfdce3;
}


.profilecontainer #update-form #Update{
    margin-top: 1rem;
    width: 14rem;
    background-color: #dfdce3;
}

.profilecontainer #update-form #Update:hover{
    background-color: #dfdce391;
}

@media screen and (max-width:41rem) {
    .profilecontainer #update-form{
        width: 19rem;
        height: 19rem;
       
    }

    .profilecontainer #update-form #myButton{
        position: relative;
        right: 0rem;
        margin-bottom: 0.333rem;
        margin-top: 0.333rem;
        background-color: black;
        color: #dfdce3;
        width: 5rem;
    }

    .profilecontainer #update-form #CancelBut{
        right: 6.5rem;
        margin-bottom: 1rem;
    }

    .profilecontainer #update-form #EditBut{
        right: 6.5rem;
        margin-bottom: 1rem;
    }
}

.BookAppointment{
    display: grid;
    justify-content: center;
}

.BookAppointment table{
    /* width: 80%; */
    background: #29685f;
    border-radius: 0.5rem;
}

.BookAppointment table tr th, 
.BookAppointment table  tr td {
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    color: #dfdce3;
}

.BookAppointment table tr td a{
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    color: #dfdce3;
    background-color: black;
    border-radius: 1rem;

}

.BookAppointment table tr td a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:46.875rem){

    .BookAppointment table{
        /* width: 20rem; */
        font-size: 0.6rem;
    }

    .BookAppointment table tr td a{
        border-radius: 0.15rem;
        padding: 0.4rem;
    }
}

@media screen and (max-width:34.375rem) {

    .BookAppointment table{
        font-size: 0.4rem;
    }
    
}

.BookAppointment2 {
    display: grid;
    justify-content: center;
}

.BookAppointment2 form{
    text-align: center;
    margin-top: 2rem;
    background-color: #29685f;
    border-radius: 1rem;
    width: 100vh;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.BookAppointment2 form label{
    color: #dfdce3;
}

.BookAppointment2 form #login{
    color: #dfdce3;
    background-color: black;
    padding: 0.2rem;
    border-radius: 0.25rem;
    height: 1.8rem;
    margin-bottom: 0.4rem;
}

.BookAppointment2 form #login:hover{
    background-color: rgba(0, 0, 0, 0.600);
}

@media screen and (max-width:56.25rem) {

    .BookAppointment2 form{
        width: 70vh;
    }
    
}

@media screen and (max-width:37.5rem) {

    .BookAppointment2 form{
        width: 40vh;
    }
    
}

.show_conflicts{
    display: grid;
    justify-content: center;
}

.show_conflicts .container { 
    text-align: center;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #29685f;
    width: 50rem;
}

.show_conflicts .container h1{ 
    color: #dfdce3;
}

.show_conflicts .container table{
    margin-top: 1rem;
}

.show_conflicts .container table th,
.show_conflicts .container table tr{
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 8rem;
    color: #dfdce3;
}

.show_conflicts .container table tr td #Edit{
    text-decoration: none;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    margin-left: 0.5rem;
    background-color: #000;
    color: #dfdce3;
    border-radius: 0.2rem;
}

.show_conflicts .container table tr td #Edit:hover{
    background-color: rgba(0, 0, 0, 0.500);
}

.show_conflicts .container table tr #Delete{ 
    text-decoration: none;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    background-color: #000;
    margin-left: 0.55rem;
    color: #dfdce3;
    background-color: #ff002b;
    border-radius: 0.2rem;
}

.show_conflicts .container table tr #Delete:hover{ 
    background-color: #ff002bb0;
}

@media only screen and (max-width:53rem) {

    .show_conflicts .container{ 
        width: 35rem;
        font-size: 0.9rem;
    }

    .show_conflicts .container table{
        margin-top: 0rem;
    }
    
    .show_conflicts .container table th,
    .show_conflicts .container table tr{
        padding: 0.05rem;
        margin-bottom: 1rem;
    }
    
    .show_conflicts .container table tr td #Edit{
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        margin-left: 0.2rem;
        border-radius: 0.1rem;
    }
   
    
    .show_conflicts .container table tr #Delete{ 
        text-decoration: none;
        padding-right: 0.3rem;
        padding-left: 0.3rem;
        margin-left: 0.55rem;
        border-radius: 0.2rem;
    }
    
}

@media only screen and (max-width:36.25rem) {

    .show_conflicts .container{ 
        width: 19.375rem;
        font-size: 0.45rem;
    }

    .show_conflicts .container table{
        margin-top: 0rem;
    }
    
    .show_conflicts .container table th,
    .show_conflicts .container table tr{
        padding: 0.05rem;
        margin-bottom: 1rem;
    }
    
    .show_conflicts .container table tr td #Edit{
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        margin-left: 0.2rem;
        border-radius: 0.1rem;
    }
   
    
    .show_conflicts .container table tr #Delete{ 
        text-decoration: none;
        padding-right: 0.3rem;
        padding-left: 0.3rem;
        background-color: #000;
        margin-left: 0.55rem;
        color: #dfdce3;
        background-color: #ff002b;
        border-radius: 0.2rem;
    }
    
}

.EditApp{
    display: grid;
    justify-content: center;
}

.EditApp #update-form{
    background-color: #29685f;
    text-align: center;
    margin-top: 1.5rem;
    border-radius: 0.8rem;
    padding: 5rem 10rem;

}

.EditApp #update-form input{
    border-radius: 0.5rem;
}

.EditApp #update-form #UpdateButt{
    padding: 0.5rem 1rem;
    font-size: 0.8rem;

}

.EditApp #update-form #UpdateButt:hover{
    opacity: 60%;
}

.EditApp #update-form h1{
   padding-bottom: 1rem;
}


@media screen and (max-width:40.625rem) {

    .EditApp #update-form{
        background-color: #29685f;
        text-align: center;
        margin-top: 0.75rem;
        border-radius: 0.8rem;
        padding: 2.5rem 3rem;
    }
}

.addEntry{
    margin-top: 1rem;;
    display: grid;
    justify-content: center;
}

.addEntry .container{
    background-color: #29685f;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
}

.addEntry .container #dob_label{
    position: relative;
    font-size: 0.7rem;
    right: 7.5rem;
}

.addEntry .container #dob_label2{
    position: relative;
    font-size: 0.7rem;
    left: 2.5rem;
}

.addEntry .container #type_label{
    position: relative;
    font-size: 0.7rem;
    right: 6.5rem;
}

.addEntry .container #sex_label{
    position: relative;
    font-size: 0.7rem;
    right: 1.55rem;
}

.addEntry .container #sex_label2{
    position: relative;
    font-size: 0.7rem;
    right: 9rem;
}

.addEntry .container form input,
.addEntry .container form select{
   width: 10rem;
   height: 1.5rem;
   border-radius: 0.5rem;
}

.addEntry .container form #Register:hover{
    opacity: 50%;
 }

 @media screen and (max-width:25rem) {

    .addEntry .container{
        border-radius: 1rem;
        padding: 0.8rem;
    }
    
    .addEntry .container form input,
    .addEntry .container form select{
       width: 7rem;
       height: 1.5rem;
       border-radius: 0.4rem;
    }
    
    
 }


 .all_appointments{
    display: grid;
    justify-content: center;
}

.all_appointments .container { 
    text-align: center;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #29685f;
    width: 50rem;
}

.all_appointments .container .filter{
    color: #dfdce3;
}

.all_appointments .container h1{ 
    color: #dfdce3;
}

.all_appointments .container table{
    margin-top: 1rem;
}

.all_appointments .container table th,
.all_appointments .container table tr{
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 8rem;
    color: #dfdce3;
}

.all_appointments .container table tr td #Edit{
    text-decoration: none;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    margin-left: 0.5rem;
    background-color: #000;
    color: #dfdce3;
    border-radius: 0.2rem;
}

.all_appointments .container table tr td #Edit:hover{
    background-color: rgba(0, 0, 0, 0.500);
}

.all_appointments .container table tr #Delete{ 
    text-decoration: none;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    background-color: #000;
    margin-left: 0.55rem;
    color: #dfdce3;
    background-color: #ff002b;
    border-radius: 0.2rem;
}

.all_appointments .container table tr #Delete:hover{ 
    background-color: #ff002bb0;
}

@media only screen and (max-width:53rem) {

    .all_appointments .container{ 
        width: 35rem;
        font-size: 0.9rem;
    }

    .all_appointments .container table{
        margin-top: 0rem;
    }
    
    .all_appointments .container table th,
    .all_appointments .container table tr{
        padding: 0.05rem;
        margin-bottom: 1rem;
    }
    
    .all_appointments .container table tr td #Edit{
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        margin-left: 0.2rem;
        border-radius: 0.1rem;
    }
   
    
    .all_appointments .container table tr #Delete{ 
        text-decoration: none;
        padding-right: 0.3rem;
        padding-left: 0.3rem;
        margin-left: 0.55rem;
        border-radius: 0.2rem;
    }
    
}

@media only screen and (max-width:36.25rem) {

    .all_appointments .container{ 
        width: 19.375rem;
        font-size: 0.45rem;
    }

    .all_appointments .container table{
        margin-top: 0rem;
    }
    
    .all_appointments .container table th,
    .all_appointments .container table tr{
        padding: 0.05rem;
        margin-bottom: 1rem;
    }
    
    .all_appointments .container table tr td #Edit{
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        margin-left: 0.2rem;
        border-radius: 0.1rem;
    }
   
    
    .all_appointments .container table tr #Delete{ 
        text-decoration: none;
        padding-right: 0.3rem;
        padding-left: 0.3rem;
        background-color: #000;
        margin-left: 0.55rem;
        color: #dfdce3;
        background-color: #ff002b;
        border-radius: 0.2rem;
    }
    
}

